<form>
  <fieldset class="uk-fieldset">

    <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="Input">
    </div>
    <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="Input">
    </div>
    <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="Input">
    </div>
    <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="Input">
    </div>
    <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="Input">
    </div>

    <button [routerLink]="['/']" class="uk-button uk-button-secondary uk-margin-right">Добавить</button>

  </fieldset>
</form>