// COLOR

$color-white:      #fff;
$color-light:      #f7f7f7;
$color-grey:       #e6e6e6;
$color-dark:       #3c3c3c;
$color-black:      #000;

$color-lilac:      #96588a;
$color-green:      #71b02f;

:root {
  --color-white:      #fff;
  --color-light:      #f7f7f7;
  --color-grey:       #e6e6e6;
  --color-dark:       #3c3c3c;
  --color-black:      #000;

  --color-lilac:      #96588a;
  --color-green:      #71b02f;
}


// FONT

$font-family-base:   'ProximaNova';


// UIKIT VAR

$global-color:                     $color-dark;
$global-emphasis-color:            $color-dark;
$global-font-family:               $font-family-base;
$global-border:                    $color-grey;

$global-primary-background:        $color-lilac;
$global-success-background:        $color-green;
$global-secondary-background:      $color-green;

$inverse-global-color:             $color-white;

$button-default-background:        $color-grey;
$button-default-hover-background:  darken($button-default-background, 5%);
$button-default-active-background: darken($button-default-background, 10%);

$navbar-background:                $color-lilac;
$navbar-nav-item-color:            $color-grey;
$navbar-nav-item-hover-color:      $color-white;
$navbar-nav-item-onclick-color:    $color-white;
$navbar-nav-item-active-color:     $color-white;
$navbar-item-color:                $color-white;